<html>
  <head>
    <link rel="stylesheet" href="form.css" />
  </head>
  <body>
    <header>
      <div>message board</div>
    </header>
    <form method="post" action="/new">
      <label for="name">Name:</label>
      <input id="name" name="name" type="text" />
      <label for="msg">Msg:</label>
      <textarea id="msg" name="msg"></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
